= render partial: :enrollment

= link_to 'Edit', edit_institution_person_enrollment_path(@institution, @person, @enrollment)
\|
= link_to 'Back', institution_person_enrollments_path(@institution, @person)
